mixin calendar(data)
	.cart-calendar.js-cart-calendar
		.cart-calendar__wrapper
			.cart-calendar__header
				.cart-calendar__title
					| Календарь Бронирования
				.cart-calendar__month
					button(type="button") 
						| <
					button(type="button") 
						| >
			.cart-calendar__time
				.cart-calendar__time-title
					| Дата
				.cart-calendar__time-title
					| 12:00
				.cart-calendar__time-title
					| 13:00
				.cart-calendar__time-title
					| 14:00
				.cart-calendar__time-title
					| 15:00
				.cart-calendar__time-title
					| 16:00
				.cart-calendar__time-title
					| 17:00
				.cart-calendar__time-title
					| 18:00
				.cart-calendar__time-title
					| 19:00
				.cart-calendar__time-title
					| 20:00
				.cart-calendar__time-title
					| 21:00
				.cart-calendar__time-title
					| 22:00
				.cart-calendar__time-title
					| 23:00
				.cart-calendar__time-title
					| 00:00
				.cart-calendar__time-title
					| 01:00
				.cart-calendar__time-title
					| 02:00
				.cart-calendar__time-title

			.cart-calendar__day-wrapper
				.cart-calendar__day
					.cart-calendar__hour
						| 
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
						| Сегодня

				.cart-calendar__day
					.cart-calendar__hour
						| 
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour.cart-calendar__hour_serveces
					.cart-calendar__hour
					.cart-calendar__hour

				.cart-calendar__day
					.cart-calendar__hour
						| 19.08
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour

				.cart-calendar__day
					.cart-calendar__hour
						| 20.08
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour.cart-calendar__hour_serveces
					.cart-calendar__hour
					.cart-calendar__hour

				.cart-calendar__day
					.cart-calendar__hour
						| 21.08
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour.cart-calendar__hour_reserved
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
					.cart-calendar__hour
			.cart-calendar__footer
				button.cart-calendar__send-btn
					| Забронировать