.cart-calendar{
	font-family: Arial, sans-serif;

	&__header{
		display: flex;
		justify-content: space-between;
		background: #1c2027;
	}

	&__month{

		button {
			height: 25px;
			width: 25px;
			line-height: 25px;
			font-size: 18px;
			border: 1px solid @White;
			transition: all 0.3s;
			cursor: pointer;
			&:hover{
				background-color: @White;
				color: @Black;
			}
		}

	}

	&__time{
		display: flex;
		justify-content: space-between;
		background: linear-gradient(to right, rgba(28, 32, 39, 0.75) 0%,rgba(28, 32, 39, 0.90) 50%,#1c2027 100%);
		padding: 15px 20px;
	}

	&__time-title{
		max-width: 52px;
		width: 100%;
		text-align: center;
		color: #7a8499;
		&:first-child{
			text-align: left;
		}
	}

	&__day{
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 0 20px 15px;
		background: rgba(28, 29, 39, 0.85);
		&:hover{
			background: rgba(28, 29, 39, 0.75);
		}
		&:first-child{
			padding-top: 15px;
		}
		&:not(:first-child){
			&:before{
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 15px;
				visibility: hidden;
				pointer-events: none;
				top: -15px;
				left: 0;
				background: #55565D;
			}
			&:hover:before{
				visibility: visible;
			}
		}
	}

	&__hour{
		height: 28px;
		max-width: 52px;
		width: 100%;
		background: #454d5a;
		transition: all 0.3s;
		cursor: pointer;
		&:hover{
			box-shadow: 0 0 20px rgba(255, 38, 37, 0.6);
		}
		&:first-child,
		&:last-child{
			flex-shrink: 0;
			box-shadow: none;
			background-color: transparent;
			line-height: 28px;
		}
		&:last-child{
			max-width: 65px;
			text-align: center;
		}
		&_reserved{
			background: #74849e;
		}
		&_serveces{
			background: #000;
			border: 1px solid #74849e;
		}
	}

	&__send-btn{
		display: block;
		margin: 20px auto 0;
		padding: 5px;
		border: 2px solid #1c2027;
		color: @Black;
		transition: all 0.3s;
		&:hover{
			background-color: #1c2027;
			color: @White;
		}
	}


}





























































































.calendar{
	padding-top: 100px;
}

.homecalendar {
		margin-top: -120px;
		z-index: 2
}

.homecalendar__title {
	font-size: 30px;
	color: #fff;
	//font-family: SFUIDisplay-Black;
}

.homecalendar__grey {
		width: 52px;
		height: 28px;
		background: #454d5a
}

.homecalendar__grey:hover {
		-webkit-box-shadow: 0 0 20px rgba(255,38,37,.6);
		box-shadow: 0 0 20px rgba(255,38,37,.6)
}

.homecalendar__litegrey {
		width: 52px;
		height: 28px;
		background: #74849e
}

.homecalendar__litegrey:hover {
		-webkit-box-shadow: 0 0 20px rgba(255,38,37,.6);
		box-shadow: 0 0 20px rgba(255,38,37,.6)
}

.homecalendar__black {
		width: 52px;
		height: 28px;
		background: #000;
		border: 1px solid #74849e
}

.homecalendar__black:hover {
		-webkit-box-shadow: 0 0 20px rgba(255,38,37,.6);
		box-shadow: 0 0 20px rgba(255,38,37,.6)
}

.homecalendar__bottom {
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-top: 15px
}

.homecalendar__bottom--btn a {
		color: #fe2728;
		font-family: roboto
}

.homecalendar__bottom--btn a:hover {
		color: #fff
}

.homecalendar__bottom--btn button {
		width: 170px;
		height: 50px;
		background: #ff2625;
		color: #fff;
		border: 0;
		border-radius: 5px;
		margin-left: 15px
}

.homecalendar__bottom--btn button:hover {
		background: #f40706;
		cursor: pointer
}

.homecalendar__bottom ul {
		padding: 0;
		margin: 0;
		color: #4e535d;
		font-family: roboto
}

.homecalendar__bottom ul li {
		display: inline-block;
		margin-right: 20px
}

.homecalendar__bottom input {
		margin-right: 10px
}

.homecalendar__content {
		background: #1c2027;
		padding: 25px 20px
}

.homecalendar__content--time li {
		color: #7a8499!important;
		font-weight: 400!important
}

.homecalendar__content ul {
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0;
		margin: 0 0 15px
}

.homecalendar__content ul li {
		display: inline-block;
		color: #fff;
		font-family: roboto;
		font-weight: 700;
		cursor: pointer
}
